<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# DataScienceEcosystem

## Data Science Tools and Ecosystem are summarized in this Notbook.

<u>Some of the popular languages that Data Scientists use are: 
</u>
- Python
- SQL
- R
- Julia
- JavaScript
- Scala
- Java

<u>Some of the commonly used libraries used by Data Scientists include: 
</u>
- Pandas Python
- NumPy  Python
- Dplyr R

| Data Science Tools | Programming Language | |
| --- | --- | --- |
| Python | Python |  |
| R | R |  |
| SQL | SQL |  |
| Excel | n/a|  |
| Tableau | n/a|  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers 

(3*4)+5

17

In [2]:
# convert 200 minutes to hours
minutes = 200

# calculate hours by dividing minutes by 60

hours = minutes / 60

# print the result
print(hours)

3.3333333333333335

## The objectives of this assignment:
- To practice creating different format in Markdown.
    - List popular languages for Data Science
    - List data science tools
- To practice simple coding.
    - arithmetic expressions
    - convert minutes to hours
- To practice sharing in github.

## Author 
Abdullah Mohammed Ayedh